.main {
    position: relative;
    background-color: #232323;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
}

.top-border.wrapper {
    position: absolute;
    width: 1080px;
    height: 45px;
    border-bottom: 3px solid #555555;
    z-index: -1;
}

